/* fonts  */

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto&display=swap');

/* fonts  */

/* nav section starts */

#nav-menu-text {
    font-family: 'Roboto',
        sans-serif;
    ;
    font-size: 16px;
    font-weight: 800;
    color: #3C3C3C;
}

/* nav section ends */

/* first part of landing page  */

#first-part-heading {
    font-family: 'Bebas Neue',
        cursive;
    font-size: 80px;
}

#first-part-button {
    background-color: #A4BC46;
    color: aliceblue;
    padding-top: 18px;
    padding-bottom: 18px;
    padding-left: 34px;
    padding-right: 34px;
    font-family: 'Roboto',
        sans-serif;
}

@media only screen and (max-width:375px) {
    #first-part-img {
        margin-top: 50px;
        width: 340px;
        height: 348px;
    }
}

/* first part of landing page  */